* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Verdana", sans-serif;
  color: #fff;
  height: 100vh;
  background: rgb(1, 0, 83);
  background: linear-gradient(168deg, rgb(1, 0, 83) 0%, rgb(0, 60, 219) 100%);
}

main .section-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 10rem auto 0;
}
main .section-weather .weather-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
main .section-weather .weather-input {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}
main .section-weather .weather-input .input {
  width: 40rem;
  height: 3.8rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  font-size: 2.4rem;
  padding-left: 1rem;
}
main .section-weather .weather-input .input:focus {
  outline: none;
}
main .section-weather .weather-input #btn {
  width: 15rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s;
}
main .section-weather .weather-input #btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
main .section-weather .weather-card {
  display: flex;
  gap: 5rem;
  margin-bottom: 4rem;
}
main .section-weather .weather-card .weather-town-card {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 2rem;
  height: 27rem;
}
main .section-weather .weather-card .weather-town-card .weather-town-name {
  width: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-town-name-icon .town-name {
  font-size: 3rem;
  padding-left: 1.6rem;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-town-name-icon .town-icon-meteo {
  display: flex;
  align-items: center;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-town-name-icon .town-icon-meteo .town-meteo {
  font-size: 3rem;
  font-weight: 700;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-clock-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-clock-date .town-day {
  font-size: 2rem;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-clock-date .town-day::first-letter {
  text-transform: uppercase;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-clock-date .town-date {
  font-size: 2.2rem;
}
main .section-weather .weather-card .weather-town-card .weather-town-name .weather-clock-date .town-clock {
  font-size: 4rem;
}
main .section-weather .weather-card .weather-town-card .weather-details {
  display: flex;
  gap: 4rem;
}
main .section-weather .weather-card .weather-town-card .weather-details .details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
main .section-weather .weather-card .weather-town-card .weather-details .details .title {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.656);
}
main .section-weather .weather-card .weather-town-card .weather-details .details .value {
  font-size: 2rem;
}
main .section-weather .weather-card .container-town-img {
  height: 27rem;
  border-radius: 8px;
  justify-self: center;
}
main .section-weather .weather-card .container-town-img .town-img {
  border-radius: 8px;
  height: 27rem;
}

.hidden-div {
  display: none;
  margin-bottom: 10rem;
}

.town-forecast {
  display: flex;
  gap: 2rem;
  margin-bottom: 10rem;
}
.town-forecast .town-forecast-card {
  border: 1px solid #fff;
  border-radius: 8px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.town-forecast .town-forecast-card .forecast-date {
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.town-forecast .town-forecast-card .flex--i-w {
  display: flex;
  align-items: center;
}
.town-forecast .town-forecast-card .flex--i-w .town-icon-meteo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.town-forecast .town-forecast-card .flex--i-w .town-icon-meteo .town-forecast-temp-max {
  font-size: 3rem;
}
.town-forecast .town-forecast-card .flex--i-w .town-icon-meteo .town-forecast-temp-min {
  font-size: 1.8rem;
}

#myChart {
  background-color: #fff;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */